################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ComputerModel/.vs/ComputerModel
/ComputerModel/ComputerModel/obj
/ComputerModel/ComputerModel/bin/Debug/net7.0
